*{
    box-sizing: border-box;
}


.card{
    
    background-color: transparent;
    margin: 5px;
    border: 1px solid white;
    border-radius: 12px;
}

.size-card{
    width: 30%;
}
.card-img-top{
    max-height: 250px;
}
.card-title{
    font-family: 'Orbitron', sans-serif;
    color: #00bcd4;
    font-weight: 400;
}
.boton-estilos{
    background-color: #00bcd4;
    color: white;
    border-radius: 10px;
}
.boton-estilos:hover{
    background-color: #0097a7;
    color: white;
}