*{
    box-sizing: border-box;
    margin:  0px;
    padding: 0px;
}

.dendriteContainer{
    --left-pos: 25%;
    --right-pos: 10%;
    --text-align: end;
    --flip-direction: 1;
    --self-align: start;

    align-self: var(--self-align);
    background-color: transparent;

    overflow: hidden;
    /* padding-inline-start: 1fr; */
    position: relative;
    min-width: 350px;
    min-height: 280px;
    /* backdrop-filter: brightness(0); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.dendriteContainer::before{
    position: absolute;
    content: "";
    inset: 0;
    z-index: 0;
    background-image: url('./MissionShape.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: border-box;
    transform: scaleX(var(--flip-direction));

    filter: brightness(70%) saturate(130%);
}

.innerContent{
    display: flex;
    flex-direction: column;
    align-items: var(--text-align);
    justify-content: start;
    gap: 5%;

    z-index: 1;
    overflow: auto;

    text-align: var(--text-align);

    margin-left: var(--left-pos);
    margin-right: var(--right-pos);

    max-height: 70%;
    overflow: hidden;
}

.title{
    font-family: "Orbitron";
    font-weight: 200;
    font-size: 25px;
    color: #414141;
    text-align: var(--text-align);
}


.innerContent p{
    font-family: "Lexend Giga";
    font-size: 15px;
    font-weight: 200;
    color: rgb(255, 255, 255);   
}


@media (max-width: 1000px){
    .title{
        font-size: 19px;
    }

    .innerContent p{
        font-size: 15px;
    }
}
