.vision-mission-section {
  display: flex;
  width: 100%;
  justify-content: space-between;

  background: linear-gradient(
    180deg,
    black 0%,
    #0e0e1d 70%,
    #54aeaf 90%,
    white
  );
  padding-bottom: 300px;

  height: min-content;
  overflow-y:hidden;
  overflow-x: hidden;

  margin-top: 250px;
}

@media (max-width: 1000px) {
  .vision-mission-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
    width: 100%;
  }

  .vision-mission-section > div {
    width: 50% !important;
  }
}
