.circularContainer {
  box-sizing: border-box;
  position: sticky;

  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 3%;
  color: black;
  aspect-ratio: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  border-width: 2px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1);

  min-height: 300px;

  overflow: hidden;
  backdrop-filter: blur(5px) brightness(103%) saturate(150%);
}

.inner-content {
  aspect-ratio: 1;
  height: calc(100% / 1.1);
  background-color: transparent;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto 1fr;
  grid-template-areas: "." "body" ".";

  justify-content: center;
  align-items: start;
  justify-items: center;

  overflow-y: hidden;
  overflow-x: hidden;
}

.inner-column {
  grid-area: body;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 1em;

  height: 100%;
  overflow: hidden;
}

.title {
  flex-shrink: 0;

  font-family: "Orbitron";
  text-align: center;
  color: black;
  font-size: 50px;
  min-height: fit-content;

  display: flex;
  align-items: center;

  overflow: visible;
}

.children-container {
  display: flex;
  align-items: start;

  font-family: "Lexend Giga";
  font-weight: 300;
  text-align: center;
  font-size: 17px;

  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  scrollbar-width: thin;
}

.children-container::-webkit-scrollbar-button {
  background-color: transparent;
}

@media (max-width: 1400px) {
  .circularContainer {
    padding: 10px;
  }

  .title {
    font-size: 40px;
  }

  .children-container {
    font-size: 13px;
  }
}
@media (max-width: 1200px) {
  .circularContainer {
    padding: 10px;
  }

  .title {
    font-size: 35px;
  }

  .children-container {
    font-size: 13px;
  }
}
@media (max-width: 1000px) {
  .circularContainer {
    padding: 40px;
  }

  .title {
    font-size: 25px;
  }

  .children-container {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .circularContainer {
    padding: 20px;
  }

  .title {
    font-size: 17px;
  }

  .children-container > * {
    font-weight: 300;
    font-size: 13px;
  }
}
