@import url("https://fonts.googleapis.com/css2?family=Metrophobic&family=Orbitron:wght@400..900&display=swap");

.landing-page {
  background: transparent;
  height: 100svh;

  flex-direction: column;
  gap: 0;

  position: relative;
  padding: 0;
  margin: 0;

  overflow: hidden;
}

.scroll-view {
  overflow-y: auto;
  overflow-x: hidden;

  background-color: transparent;
  position: relative;

  height: 100%;

  /* scroll-snap-type: y mandatory; */
  overscroll-behavior: contain;
  padding: 0px;
  margin: 0px;
}

.hero-banner{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 6.45%;
  padding-right: 6.45%;

  height: calc(100svh -  106.797px);  
  font-weight: 400;

  background-image: url(/ntxucblapaz.github.io/src/assets/images/hero-banner-bacground.jpeg);
  background-size: cover;
  background-position: center;

  justify-content: space-between;
}

.hero-banner__content{
  background-color: yellow;
  /* margin: 1.05%; */
  width: 55%;
  height: fit-content;
  border-radius: 20px;

  background-color: #D9D9D933;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  word-wrap: break-word;
  overflow-wrap: break-word;
}

.hero-banner__title{
  font-family: 'Orbitron', sans-serif;
  margin-top: 1.5rem;
  color: #23B2C6;
  font-weight: 100;
  width: 100%;
}

.hero-banner__description{
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 1.4;
  width: 100%;
}

.hero-banner__description--highlight{
  font-size: 1.8rem;
  font-weight: 100;
  display: block;
  
}

.hero-banner__logo{
  margin: 1.05%;
  width: 45%;
  height: 57%;
  display: flex;
  align-items: center;
}

.hero-banner__logo img{
  max-width: 100%;
}

.hero-banner__cta{
  margin-top: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: left;
  gap: 1.5rem;
}

.hero-banner__cta-button{
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background-color: #23B2C6;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 100;
  border: none;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

.about-section{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-left: 3.125%;
  margin-right: 3.125%;
  margin-top: 1.8rem;
}

.about-section__image{
  width: 48%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-section__image img{
  max-width: 100%;
}

.about-section__content{
  width: 52%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.about-section__title{
  font-family: 'Orbitron', sans-serif;
  color: #23B2C6;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.about-section__description{
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
}

.about-section__cta{
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
}

.about-section__cta-button{
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background-color: #23B2C6;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 100;
  border: none;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

.philosophy-section{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-left: 3.125%;
  margin-right: 3.125%;
  margin-top: 1.8rem;
  justify-content: space-between;
}

.philosophy-section__card{
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}

.philosophy-section__card-number{
  color: #FFFFFF;
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  background-color: #414141;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.philosophy-section__card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.philosophy-section__card-title{
  font-family: 'Orbitron', sans-serif;
  color: #23B2C6;
  font-weight: 500;
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
}

.philosophy-section__card-description{
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
  text-align: justify;
}

.testimonials-section{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-left: 3.125%;
  margin-right: 3.125%;
  margin-top: 1.8rem;
}

.testimonials-section__title{
  font-family: 'Orbitron', sans-serif;
  color: #23B2C6;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.testimonials-section__card{
  background-color: #131327;
  color: #FFFFFF;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 2rem;
}

.testimonials-section__card-picture{
  border-radius: 20px;
  overflow: hidden;
}

.testimonials-section__card-picture img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.testimonials-section__card-content{
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.our-club-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-left: 3.125%;
  margin-right: 3.125%;
  margin-top: 1.8rem;
}

.our-club-section__title {
  font-family: 'Orbitron', sans-serif;
  color: #23B2C6;
  font-weight: 500;
  font-size: 2rem;
}

.news-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-left: 3.125%;
  margin-right: 3.125%;
  margin-top: 1.8rem;
}

.news-section__title {
  font-family: 'Orbitron', sans-serif;
  color: #23B2C6;
  font-weight: 500;
  font-size: 2rem;
}

.news-section__new-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.news-section__new {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.news-section__new-image {
  max-width: 42%;
  border-radius: 10px;
  overflow: hidden;
}

.news-section__new-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-section__new-content {
  width: 48%;
}

.news-section__new-title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
}

.news-section__new-title a {
  color: #23B2C6;
}

.news-section__new-date {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
}

.news-section__new-description {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
}

.join-us-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1.8rem;
  background-image: url(/ntxucblapaz.github.io/src/assets/images/join-us-background.png);
  background-size: cover;
  background-position: center;
  color: #FFFFFF;
  margin-bottom: 1.8rem;
}

.join-us-section__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  width: 71%;
  margin: auto;
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
}

.join-us-section__title {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
  font-size: 2rem;
}

.join-us-section__description {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.4;
}

.join-us-section__description--highlight {
  font-weight: 600;
  display: block;
}

.join-us-section__cta {
  display: flex;
  gap: 1.5rem;
}

.join-us-section__cta-button {
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  background-color: #23B2C6;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 100;
  border: none;
  width: 50%;
  text-align: center;
  text-decoration: none;
}

.sponsors-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  margin-left: 3.125%;
  margin-right: 3.125%;
  margin-top: 1.8rem;
  /*very light gray*/
  background-color: #F5F5F5;
  margin-bottom: 1.8rem; 
  border: 1px solid #000;
  text-align: center;
}

.sponsors-section__title {
  font-family: 'Orbitron', sans-serif;
  color: #23B2C6;
  font-weight: 500;
  font-size: 2rem;
}

.sponsors-section__logos {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.sponsors-section__logos img {
  max-width: 100%;
  max-height: 100px;
  object-fit: contain;
  margin: auto;
  height: auto;
}


.scroll-view > * {
  scroll-snap-stop: always;
  scroll-snap-align: start;
}

@media screen and (max-width: 768px) {
  .hero-banner{
    flex-direction: column;
    height: 100%;
    padding: 0;
    height: calc(100svh -  106.797px);  
  }

  .hero-banner__content{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 0 0 20px 20px;
  }

  .hero-banner__logo{
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .hero-banner__logo img{
    width: 60%;
  }

  .hero-banner__cta{
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero-banner__cta-button{
    width: 100%;
  }

  .about-section{
    flex-direction: column;
  }

  .about-section__image{
    width: 100%;
  }

  .about-section__image img{
    max-width: 100%;
  }

  .about-section__content{
    width: 100%;
  }

  .about-section__cta-button{
    width: 100%;
  }

  .philosophy-section{
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    margin-left: 3.125%;
    margin-right: 3.125%;
    margin-top: 1.8rem;
    justify-content: space-between;
  }

  .philosophy-section__card{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
  }

  .testimonials-section__card-picture{
    max-width: 100%;
  }

  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  .news-section__new {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .news-section__new-image {
    max-width: 100%;
    border-radius: 10px;
    overflow: hidden;
  }

  .news-section__new-content {
    width: 100%;
  }  

}
