.vision-mission-section {
  width: 100%;
  box-sizing: content-box;
  /* 
  background: linear-gradient(
    180deg,
    black 0%,
    #0e0e1d 70%,
    #54aeaf 90%,
    white
    ); */
  /* padding-bottom: 100px; */
  padding-top: 20svh;
  /* height: 150svh; */
  
}

.sticky-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: min-content;
  position: sticky;
  top: 100px;
  /* mix-blend-mode: hard-light; */
  /* filter: brightness(40%) saturate(130%);  */
}

@media (max-width: 1000px) {
  .sticky-container {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
  }

  .sticky-container > div {
    width: 50% !important;
  }
}
