@import '../../../assets/styles/variables.css';

/* General para la barra de navegación #23B2C6*/
.navbar {
  border-bottom: 2px solid var(--primary-color);
  background-color: var(--background-color-dark);
}

/* Enlaces de navegación */
.nav-link {
  color: var(--primary-color); /* Texto principal */
  font-size: 1.1rem;
  font-family: var(--font-family);
  transition: color 0.3s ease;
}

.nav-link:hover {
  color:var(--text-color-dark); /* Color al hacer hover */
}

.nav-link:focus {
  color: var(--text-color-dark)
}

/* Botón hamburguesa */
.navbar-toggler {
  border-color: var(--primary-color);
}

.navbar-toggler-icon {
  background-color: var(--background-color-dark); /* Cambiar color del ícono hamburguesa */
  background-image: url(/assets/icons/burger-menu-svgrepo-com.svg);
}

/* Fondo del menú desplegable */
.navbar-collapse {
  background-color: var(--background-color-dark); /* Fondo al desplegar en móviles */
  border-top: 2px solid var(--primary-color);
  color: var(--primary-color);
}

.navbar__img{
  width: 150px; /* Ajustar el tamaño de la imagen */
  height: auto; /* Mantener la proporción de la imagen */
  margin-right: 1rem; /* Espacio entre la imagen y el texto */
}

@media (max-width: 768px) {
  .nav-link {
    text-align: center; /* Centrar enlaces en dispositivos pequeños */
    padding: 0.5rem 0;
  }

  .navbar__img{
    width: 100px; /* Ajustar el tamaño de la imagen en móviles */
    height: auto; /* Mantener la proporción de la imagen */
  }


}
