/* General para la barra de navegación */
.navbar {
  border-bottom: 2px solid #23B2C6;
}

/* Enlaces de navegación */
.nav-link {
  color: #23B2C6 !important; /* Texto principal */
  font-size: 1.1rem;
  font-family: 'Orbitron', sans-serif;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(0, 0, 0) !important; /* Color al hacer hover */
  text-shadow: 
    1px 1px 0px #23B2C6, 
    -1px -1px 0px #23B2C6, 
    1px -1px 0px #23B2C6, 
    -1px 1px 0px #23B2C6;
}

/* Botón hamburguesa */
.navbar-toggler {
  border-color: #23B2C6;
}

.navbar-toggler-icon {
  background-color: #EBEBEB; /* Cambiar color del ícono hamburguesa */
}

/* Fondo del menú desplegable */
.navbar-collapse {
  background-color: #EBEBEB; /* Fondo al desplegar en móviles */
  border-top: 2px solid #23B2C6;
}

@media (max-width: 768px) {
  .nav-link {
    text-align: center; /* Centrar enlaces en dispositivos pequeños */
    padding: 0.5rem 0;
  }
}
