
.main-image-container{
  height: 600px;
  overflow: hidden;

  border-radius: 1rem;
}

.main-image-container img{
  object-fit: cover;
}

.title-description {
  font-weight: 300;
}

.title-section {
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: none;
  font-family: "Orbitron";
  font-weight: normal;
  font-size: 40px;
  color: #23b2c6 !important;
}

.row {
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;

  margin: auto;
  overflow-x: auto;

  scrollbar-width: auto;
  scrollbar-color: rgba(152, 152, 152, 0.5) transparent;
}

.row-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: start;
  gap: 50px;
  width: 100%;
}

.row::-webkit-scrollbar-track {
  background: transparent;
}

.container {
  overflow-x: visible;
  box-sizing: border-box;
  position: relative;
}

#root {
  overflow: hidden;
}

.completed-container {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
  font-family: var(--secondary-font-family);

  position: relative;
  padding-block: 100px;
  padding-inline: 300px;

  left: 50%;
  width: 100svw;
  transform: translateX(-50%);

  /* padding-block: 2rem; */
}

.colaborador {
  width: fit-content;
  padding: 1rem;
  margin: 2rem;
  /* border: 1px solid var(--text-color-light); */
  border: none;
  display: flex;
  align-items: center;
}

.colaborador img {
  object-fit: cover;

  max-width: 300px;
}

/* .cards-container.leads{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem; 
  justify-items: center;
}

@media screen and (max-width: 1200px) {
  .cards-container.leads {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media screen and (max-width: 480px) {
  .cards-container.leads {
    grid-template-columns: 1fr; 
  }
} */

/* .leads .profile__picture{
  transform: scale(0.5);
} */
