.quote__card{
    background-color: #131327;
    color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 2rem;
    max-width: 500px;
  }
  
  .quote__card-picture{
    border-radius: 20px;
    overflow: hidden;
  }
  
  .quote__card-picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .quote__card-content{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }