@import '../../../assets/styles/variables.css';

.footer {
    background-color: var(--background-color-dark); /*Si se autoriza cambiar por este color #282c34 al igual que en el taskbar*/
    color: var(--text-color-dark);
    text-align: center;
    padding: 20px;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap; /* Para permitir que los elementos se ajusten en pantallas pequeñas */
    gap: 20px; /* Espaciado entre elementos */
}

.footer-logo {
    width: 150px; 
    height: auto; 
    margin-right: 90px; 
}

.footer-links {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; /* Espaciado entre enlaces */
}

.footer-links a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}

.footer-links .link-facebook {
    color: #17acfa;
}

.footer-links .link-twitter {
    color: #08a0e9; 
}

.footer-links .link-linkedin {
    color: #0077b5;
}

.footer-links .link-instagram {
    color: #8134AF;
}

.footer-links .link-youtube {
    color: #ff0000;
}

.footer-links .link-tiktok {
    color: #69c9d0;
}

.footer-links .link-github {
    color: #faa356;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* Media Queries para dispositivos móviles */
@media (max-width: 768px) { /* Tablet y pantallas más pequeñas */
    .footer-content {
        flex-direction: column; /* Cambiar de fila a columna */
        align-items: center;
    }

    .footer-logo {
        margin-right: 0; /* Quitar margen derecho */
        margin-bottom: 10px; /* Añadir margen inferior */
    }

    .footer-links {
        justify-content: center;
        gap: 15px; /* Más espaciado entre enlaces */
    }

    .footer-links a {
        font-size: 14px; /* Reducir tamaño de fuente en dispositivos pequeños */
    }
}

@media (max-width: 480px) { /* Teléfonos móviles */
    .footer {
        padding: 10px; /* Reducir padding para pantallas pequeñas */
    }

    .footer-logo {
        width: 120px; /* Reducir tamaño del logo */
    }

    .footer-links a {
        font-size: 12px; /* Reducir aún más el tamaño de los enlaces */
    }
}
