*{
    box-sizing: border-box;
}



.card{
    
    background-color: transparent;
    margin: 5px;
    border: 1px solid white;
    border-radius: 12px;
}

.size-card{
    width: 30%;
}
.card-img-top{
    max-height: 250px;
}
.card-title{
    color: #00bcd4;
    font-weight: 400;
}