.title-section{
    padding-top: 20px;
    padding-bottom: 10px;
    text-decoration: none;
    font-family: 'Orbitron';
    font-weight: normal;
    font-size: 40px;
    color: #23B2C6 !important;

}

.row{
    display: flex;
    justify-content: center;
}

.colaborador{
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    border: 1px solid var(--text-color-light);
    display: flex;
    align-items: center;
}

.colaborador img{
    max-width: 350px;
}

/* .cards-container.leads{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 2rem; 
    justify-items: center;
}

@media screen and (max-width: 1200px) {
    .cards-container.leads {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media screen and (max-width: 480px) {
    .cards-container.leads {
      grid-template-columns: 1fr; 
    }
  } */

/* .leads .profile__picture{
    transform: scale(0.5);
} */

